.poke-details {
color: $ONE_LIGHT_GRAY;

  &__header {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: left;

    hgroup {
      margin-right: 24px;

      h1 {
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        color: white;

        @media #{$BREAKPOINT-TABLET} {
          font-size: 25px;
        }
      }
    }
  }

  &__card {
    &__infos {
      width: 100%;
      position: relative;

      display: flex;
      justify-content: left;
      flex-direction: column;

      @media #{$BREAKPOINT-TABLET} {
        flex-direction: row;
      }

      &__personal {
        width: 100%;
        position: relative;

        @media #{$BREAKPOINT-TABLET} {
          width: 50%;
          margin-left: 24px;
        }

        &__data {
          display: flex;

          &__height {
            width: 50%;
          }

          &__weight {
            margin-left: 24px;
            width: 50%;
          }
        }

        &__features {
          margin: 24px 0 24px 0;

          &__resistant {
            margin-bottom: 16px;

            h2 {
              margin-bottom: 8px;
            }
          }

          &__weaknesses {
            h2 {
              margin-bottom: 8px;
            }
          }
        }
      }

      &__img-container {
        width: 100%;
        height: 350px;
        overflow: hidden;
        border: solid 1px $ONE_LIGHT_GRAY;
        border-radius: 10px;
        margin-bottom: 24px;

        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$BREAKPOINT-TABLET} {
          width: 50%;
          margin-bottom: 0;
        }

        &__img {
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

    }
    
    &__sub-header {
      width: 100%;
      height: 35px;
      
      padding: 10px;
      margin: 72px 0 24px 0;
      border-radius: 10px;
      
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      
      display: flex;
      align-items: center;
    }

    &__attacks {
      display: flex;
      justify-content: center;
      
      &__fast {
        width: 40%;
      }

      &__special {
        width: 40%;
        margin-left: 24px;
      }
    }

    &__evolution {
      display: grid;
      grid-gap: 16px;

      @media #{$BREAKPOINT-TABLET}{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}


.feature-list {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}