@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

/*=== GENERAL ===*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: $ONE_LIGHT_GRAY;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/*=== MAIN STRUCTURE ===*/

.page-content {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__card {
    @include margin-page;
    background: white;
    min-height: 450px;
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto 100px auto;

    animation-name: up;
    animation-duration: 700ms;

    @media #{$BREAKPOINT-DESK} {
      min-height: 400px;
    }
  }

  @keyframes up {
    from {
      opacity: 0;
      transform: translateY(15px);
    }

    to {
      opacity: 1;
    }
  }
}

/*=== RIBBON ===*/
.ribbon {
  display: none;
}
@media #{$BREAKPOINT-DESK} {
  .ribbon {
    display: block;
    position: fixed;
    padding: 5px 45px;
    width: 239px;

    top: 50px;
    right: -70px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    box-shadow: 0 0 0 3px $BLUE, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);

    background-color: $YELLOW;
    color: #ffffff;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;

    border: 2px dotted $NAVY_BLUE;

    -webkit-backface-visibility: hidden;
    letter-spacing: 0.5px;
  }
}
