@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

/*=== GENERAL ===*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $ONE_LIGHT_GRAY;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/*=== MAIN STRUCTURE ===*/

.page-content {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__card {
    @include margin-page;
    background: white;
    min-height: 450px;
    border-radius: 10px;
    padding: 10px;
    margin: 60px auto 100px auto;
    position: relative;

    @media #{$BREAKPOINT-TABLET} {
      min-height: 400px;
      padding: 20px;
    }
  
    &__back-home {
      position: absolute;
      display: flex;
      align-items: center;
      top: -35px;
      right: 25px;
      z-index: 2;

      text-transform: uppercase;
      background: transparent;
      border: none;
      font-weight: bold;
      color: white;
      cursor: pointer;

      p {
        display: none;

        @media #{$BREAKPOINT-TABLET} {
          display: block;
        }
      }

      svg {
        margin-right: 8px;
      }
    }
  }
}

/*=== RIBBON ===*/
.ribbon {
  display: none;
}
@media #{$BREAKPOINT-DESK} {
  .ribbon {
    display: block;
    position: fixed;
    padding: 5px 45px;
    width: 239px;

    top: 50px;
    right: -70px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    box-shadow: 0 0 0 3px $BLUE, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);

    background-color: $YELLOW;
    color: #ffffff;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;

    border: 2px dotted $NAVY_BLUE;

    -webkit-backface-visibility: hidden;
    letter-spacing: 0.5px;
  }
}

/*=== LOADING POKEBALL ===*/

.loading {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);

  &__pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames 0.8s linear 0s infinite;
  }

  &__pokeball:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px;
  }

  &__pokeball:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 18px;
    right: 18px;
    z-index: 1;
  }

  @keyframes frames {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
