.page-home {
  &__form {
    * {
      box-sizing: border-box;
    }
  }
  &__form input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 30px;
  }

  &__form::after {
    content: "";
    clear: both;
    display: table;
  }
}
