.attack-item {
  position: relative;

  &__name {
  }

  &__damage {
    position: absolute;
    z-index: 2;
    bottom: 1px;
    font-size: 14px;
    color: white;
    right: 20px;
  }

  &__fill-attack {
    height: 20px;
    position: relative;
    margin: 8px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

    span {
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #77c64f;
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
    }
  }
}
